* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 100%;
    height: 100%;
  }

  .header {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
  }

  .header i {
    font-size: 70px;
    margin-right: 20px;
  }

  h1 {
    padding: 30px;
  }

   .menu-icons {
     display:flex;
     justify-content:space-between; 
     margin-left: 75%;
    margin-top: 15px;
    margin-right: 20px;
    font-size: 35px;
    padding: 10px 30px;
    }

  .box1 {
    position: relative;
    margin: 100px 600px;
    width: 100px;
    height:100px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
  }

  @keyframes animate {
    0% {
      transform: perspective(1000px) rotateY(0deg);
    }
    100% {
      transform: perspective(1000px) rotateY(360deg);
    }
  }

  .box1 span {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
  }

  .box1 span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #footer {
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    height: 80px;
    background-color: white;
    color: black;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    display:Flex;
    align-items: center;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-left: 255px;
  margin-top: 15px;
}

 a {
  display: inline-block;
  /* height: 45px; */
  /* width: 30px; */
  margin:10px 30px;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.5s;
}

a i{
  font-size: 30px;
  transition: transform 0.5s;
}

a:hover{
  /* box-shadow:inset 4px 4px 10px -1px rgba(0,0,0,0.2),
              inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                    -0.5px -0.5px 0px -1px rgba(255,255,255,1),
                    0.5px 0.5px 0px rgba(0,0,0,0.15),
                    0px 12px 10px -10px rgba(0,0,0,0.05); */
  /* border: 1px solid rgba(255, 0, 0, 0.1); */
  transform: translateY(2px);
}

a:visited {
text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:hover i{
  transform: scale(0.90);
}

a:hover .fa-facebook{
  color: #3b5998;
}

a:hover .fa-linkedin{
  color: #00acee;
}

a:hover .fa-whatsapp{
  color: #4fce5d;
}

a:hover .fa-instagram{
  color: purple;
}

a:hover .fa-github{
  color: black;
}

a:hover .fa-skype{
  color: skyblue;
}

.btn .subscribe {
    margin-left: 0px ;
    /* background: lightgrey; */
    padding:3px 3px;
    /* border-radius: 5px; */
    cursor: pointer;
    transition: 0.5s;
    width: 1%;
}

.switch {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  margin-top: 3px;
  margin-left: 20px;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  border-radius: 34px;
  transition: .4s;
}

.slider:before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: #fff;
  border-radius: 50%;
  transition: .4s;
}

input:checked + .slider {
  background: lightgreen;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.dark-mode {
  color: white;
  background: #0b0a14;
}

.dark-mode h1 {
  color: #f7f0e9;
}

#products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(25px, auto);
  margin: 150px;
}

.card {
  margin:10px;
  width: 290px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 15px 20px 30px rgba(0, 0, 0, .2);
}

.card-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  grid-column: 1 / 3;
  grid-row: 1;
}

.card-img {
  align-items: center;
  width: 250px;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.card-price {
  font-size: 15px;
  margin-left: 105px;
  grid-column: 1;
  grid-row: 2 / 5;
}

.card-button {
  margin-left: 98px;
  grid-column: 3;
  grid-row: 3;
  border: 0;
  background: linear-gradient(#dae2f8,#d6a4a4);
  padding:2px 3px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
}

.products-details {
  display: flex;
  align-items: center;
  justify-content: center;

}

#admin-table {
  /* display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(25px, auto); */
  margin: 150px; 
  display: table;
  text-align: left;
  overflow: hidden;
  width: 800px;
  height: 800px;
  margin: 50px 50px;
padding: 20px;
}

#admin-table th h1 {
  font-weight: bold;
text-align: left;
  position: sticky;
  top: 0;
}

.admin-card-img {
  width: 60px;
  height: 60px;
}

#admin-table td {
  margin: 20px 20px;
  font-size: 1em;
-webkit-box-shadow: 0 2px 2px -2px #0E1119;
   -moz-box-shadow: 0 2px 2px -2px #0E1119;
        box-shadow: 0 2px 2px -2px #0E1119;
}

#admin-table td, #admin-table th {
  padding-bottom: 2%;
  padding-top: 2%;
padding-left:2%;  
}

#admin-table tr:nth-child(odd) {
  background-color: #323C50;
}

#admin-table tr:nth-child(even) {
  background-color: #2C3446;
}

#admin-table td:first-child { color: #FB667A; }

#admin-table tr:hover {
 background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
   -moz-box-shadow: 0 6px 6px -6px #0E1119;
        box-shadow: 0 6px 6px -6px #0E1119;
}

#admin-table td:hover {
background-color: #FFF842;
color: #403E10;
font-weight: bold;

box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
transform: translate3d(6px, -6px, 0);

transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
transition-timing-function: line;
}

@media (max-width: 800px) {
  #admin-table td:nth-child(4),
  #admin-table th:nth-child(4) { display: none; }
}

.container-products{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
} 

.form-control {
  display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: lightgray;
    padding: 20px 40px;
    outline: none;
    color: black;
    transition: 0.5s;
}

.form-control:hover {
  box-shadow: 0 0 10px 4px grey;
}

.textarea.form-control {
  resize: none;
  height: 80px;
}
 
.border {
    width: 100px;
    height: 10px;
    background: black;
    margin: 40px auto;
}

.container-products h3 {
  text-align: center;
}

.btn {
  font-weight: bold;
  margin-left: 98px;
  grid-column: 3;
  grid-row: 3;
  border: 0;
  background: linear-gradient(#dae2f8,#d6a4a4);
  padding:2px 3px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
}










  